@model AccountModel

<!-- Modal -->
<div class="modal fade" id="del_@Model.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger">Remove From All Accounts</h5>
            </div>
            <div class="modal-body">
                Do you want to delete @Model.FirstName @Model.LastName's Data?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a asp-controller="Home" asp-action="SoftDelete" asp-route-id="@Model.Id" type="button" class="btn btn-outline-danger">Confirm</a>
            </div>
        </div>
    </div>
</div>