@model AccountModel
@{
    ViewData["Title"] = "Edit";
}
<style>
    input[type="range"]::-webkit-slider-thumb {
    background-color: #0d6efd;
}
</style>
<!-- Modal -->
<div class="modal fade" id="id_@Model.Id" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form method="post" asp-controller="Home" asp-action="UpdatePartial"
                        class="w-100 d-flex flex-column gap-1">
                    @* <div asp-validation-summary="All" class="w-100 align-self-start"></div> *@
                    <input asp-for="Id" hidden="hidden">
                    <div class="d-flex gap-3">
                        <div class="w-100">
                            <div>
                                <label class="fw-500 text-primary" asp-for="FirstName"></label>
                                <span asp-validation-for="FirstName" class="text-danger" id="errFirstName_@Model.Id"></span>
                            </div>
                            <input asp-for="FirstName" class="form-control" id="FirstName_@Model.Id" placeholder="enter your first name">
                        </div>
                        <div class="w-100">
                            <div>
                                <label class="fw-500 text-primary" asp-for="LastName"></label>
                                <span asp-validation-for="LastName" class="text-danger" id="errLastName_@Model.Id"></span>
                            </div>
                            <input asp-for="LastName" class="form-control" id="LastName_@Model.Id" placeholder="enter your last name">
                        </div>
                    </div>
                    <div>
                        <label class="fw-500 text-primary" asp-for="Email" ></label>
                        <span asp-validation-for="Email" class="text-danger" id="errEmail_@Model.Id"></span>
                    </div>
                    <input asp-for="Email" type="email" class="form-control" id="Email_@Model.Id" placeholder="enter your email">
                    <div class="d-flex gap-3">
                        <div class="w-100">
                            <div>
                                <label class="fw-500 text-primary" asp-for="Gender"></label>
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                            <div class="d-flex gap-3">
                                <div class="form-check">
                                    <input type="radio" asp-for="Gender" value="Male" id="Male_@Model.Id" class="form-check-input">
                                    <label class="form-check-label">
                                        Male
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" asp-for="Gender" value="Female" id="Female_@Model.Id" class="form-check-input">
                                    <label class="form-check-label">
                                        Female
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="w-100">
                            <label class="fw-500 text-primary d-flex flex-row">Hobbies</label>
                            <div class="d-flex gap-3">
                                <div class="d-flex">
                                    <input type="checkbox" asp-for="Music" id="Music_@Model.Id" class="form-check">
                                    <label asp-for="Music" class="form-check-label"></label>
                                </div>
                                <div class="d-flex">
                                    <input type="checkbox" asp-for="Sports" id="Sports_@Model.Id" class="form-check">
                                    <label asp-for="Sports" class="form-check-label"></label>
                                </div>
                                <div class="d-flex">
                                    <input type="checkbox" asp-for="Travel" id="Travel_@Model.Id" class="form-check">
                                    <label asp-for="Travel" class="form-check-label"></label>
                                </div>
                                <div class="d-flex">
                                    <input type="checkbox" asp-for="Movies" id="Movies_@Model.Id" class="form-check">
                                    <label asp-for="Movies" class="form-check-label"></label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex gap-3">
                        <div class="w-100">
                            <label class="fw-500 text-primary" asp-for="SourceOfIncome"></label>
                            <select asp-for="SourceOfIncome" id="SourceOfIncome_@Model.Id" class="form-control" asp-items="Html.GetEnumSelectList<SourceOfIncome>()"></select>
                        </div>
                        <div class="w-100 d-flex justify-content-center gap-2">
                            <div class="w-100">
                                <label class="fw-500 text-primary" asp-for="Income"></label>
                                <input type="range" value="20000" min="20000" max="100000" step="1000" asp-for="Income" class="form-control" id="sal-range_@Model.Id">
                            </div>
                            <div class="w-15 bg-primary text-light h-50 rounded-3 p-1" id="sal-value_@Model.Id">
                                20K
                            </div>
                        </div>
                    </div>
                    <div class="d-flex gap-3">
                        <div class="w-100">
                            <label class="fw-500 text-primary">Upload Profile Picture</label>
                            <input type="file">
                        </div>
                        <div class="w-100">
                            <div>
                                <label class="fw-500 text-primary" asp-for="Age"></label>
                                <span id="errAge_@Model.Id" class="text-danger"></span>
                            </div>
                            <input asp-for="Age" id="Age_@Model.Id" class="form-control">
                        </div>
                    </div>
                    <div>
                        <label class="fw-500 text-primary" asp-for="Bio"></label>
                        <span id="errBio_@Model.Id" class="text-danger"></span>
                    </div>
                    <textarea asp-for="Bio" id="Bio_@Model.Id" class="form-control" rows="3"></textarea>
                    <div class="d-flex justify-content-end gap-2">
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#id_@Model.Id">Close</button>
                        <button class="btn btn-primary" id="submit_@Model.Id" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}